In [1]:
import pandas as pd
df=pd.read_excel("customer_shopping_behavior.xlsx")
print(df)

    Customer ID  Age Gender Item Purchased     Category  Purchase Amount  \
0             1   55   Male         Blouse     Clothing               53
1             2   19   Male        Sweater     Clothing               64
2             3   50   Male          Jeans     Clothing               73
3             4   21   Male        Sandals     Footwear               90
4             5   45   Male         Blouse     Clothing               49
5             6   46   Male       Sneakers     Footwear               20
6             7   63   Male          Shirt     Clothing               85
7             8   27   Male         Shorts     Clothing               34
8             9   26   Male           Coat    Outerwear               97
9            10   57   Male        Handbag  Accessories               31
10           11   53   Male          Shoes     Footwear               34
11           12   30   Male         Shorts     Clothing               68
12           13   61   Male           Coat    Outerwear               72
13           14   65   Male          Dress     Clothing               51
14           15   64   Male           Coat    Outerwear               53
15           16   64   Male          Skirt     Clothing               81
16           17   25   Male     Sunglasses  Accessories               36
17           18   53   Male          Dress     Clothing               38
18           19   52   Male        Sweater     Clothing               48
19           20   66   Male          Pants     Clothing               90

         Location Size      Color  Season  Review Rating Subscription Status  \
0        Kentucky    L       Gray  Winter            3.1                 Yes
1           Maine    L     Maroon  Winter            3.1                 Yes
2   Massachusetts    S     Maroon  Spring            3.1                 Yes
3    Rhode Island    M     Maroon  Spring            3.5                 Yes
4          Oregon    M  Turquoise  Spring            2.7                 Yes
5         Wyoming    M      White  Summer            2.9                 Yes
6         Montana    M       Gray    Fall            3.2                 Yes
7       Louisiana    L   Charcoal  Winter            3.2                 Yes
8   West Virginia    L     Silver  Summer            2.6                 Yes
9        Missouri    M       Pink  Spring            4.8                 Yes
10       Arkansas    L     Purple    Fall            4.1                 Yes
11         Hawaii    S      Olive  Winter            4.9                 Yes
12       Delaware    M       Gold  Winter            4.5                 Yes
13  New Hampshire    M     Violet  Spring            4.7                 Yes
14       New York    L       Teal  Winter            4.7                 Yes
15   Rhode Island    M       Teal  Winter            2.8                 Yes
16        Alabama    S       Gray  Spring            4.1                 Yes
17    Mississippi   XL   Lavender  Winter            4.7                 Yes
18        Montana    S      Black  Summer            4.6                 Yes
19   Rhode Island    M      Green  Summer            3.3                 Yes

     Shipping Type Discount Applied Promo Code Used  Previous Purchases  \
0          Express              Yes             Yes                  14
1          Express              Yes             Yes                   2
2    Free Shipping              Yes             Yes                  23
3     Next Day Air              Yes             Yes                  49
4    Free Shipping              Yes             Yes                  31
5         Standard              Yes             Yes                  14
6    Free Shipping              Yes             Yes                  49
7    Free Shipping              Yes             Yes                  19
8          Express              Yes             Yes                   8
9   2-Day Shipping              Yes             Yes                   4
10    Store Pickup              Yes             Yes                  26
11    Store Pickup              Yes             Yes                  16
12         Express              Yes             Yes                  37
13         Express              Yes             Yes                  31
14   Free Shipping              Yes             Yes                  34
15    Store Pickup              Yes             Yes                   8
16    Next Day Air              Yes             Yes                  44
17  2-Day Shipping              Yes             Yes                  36
18   Free Shipping              Yes             Yes                  17
19        Standard              Yes             Yes                  46

   Payment Method Frequency of Purchases
0           Venmo            Fortnightly
1            Cash            Fortnightly
2     Credit Card                 Weekly
3          PayPal                 Weekly
4          PayPal               Annually
5           Venmo                 Weekly
6            Cash              Quarterly
7     Credit Card                 Weekly
8           Venmo               Annually
9            Cash              Quarterly
10  Bank Transfer              Bi-Weekly
11  Bank Transfer            Fortnightly
12          Venmo            Fortnightly
13         PayPal                 Weekly
14     Debit Card                 Weekly
15         PayPal                Monthly
16     Debit Card              Bi-Weekly
17          Venmo              Quarterly
18           Cash                 Weekly
19     Debit Card              Bi-Weekly

In [2]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount,Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             20 non-null     int64
 1   Age                     20 non-null     int64
 2   Gender                  20 non-null     object
 3   Item Purchased          20 non-null     object
 4   Category                20 non-null     object
 5   Purchase Amount         20 non-null     int64
 6   Location                20 non-null     object
 7   Size                    20 non-null     object
 8   Color                   20 non-null     object
 9   Season                  20 non-null     object
 10  Review Rating           20 non-null     float64
 11  Subscription Status     20 non-null     object
 12  Shipping Type           20 non-null     object
 13  Discount Applied        20 non-null     object
 14  Promo Code Used         20 non-null     object
 15  Previous Purchases      20 non-null     int64
 16  Payment Method          20 non-null     object
 17  Frequency of Purchases  20 non-null     object
dtypes: float64(1), int64(4), object(13)
memory usage: 2.9+ KB

In [4]:
df.describe()

,Customer ID,Age,Purchase Amount,Review Rating,Previous Purchases
count,20.00000,20.000000,20.0000,20.000000,20.00000
mean,10.50000,47.100000,58.3500,3.730000,25.40000
std,5.91608,16.325311,22.7926,0.822128,15.12196
min,1.00000,19.000000,20.0000,2.600000,2.00000
25%,5.75000,29.250000,37.5000,3.100000,14.00000
50%,10.50000,52.500000,53.0000,3.400000,24.50000
75%,15.25000,61.500000,75.0000,4.625000,36.25000
max,20.00000,66.000000,97.0000,4.900000,49.00000

In [6]:
df.describe(include="all")

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount,Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,20.00000,20.000000,20,20,20,20.0000,20,20,20,20,20.000000,20,20,20,20,20.00000,20,20
unique,NaN,NaN,1,14,4,NaN,17,4,15,4,NaN,1,6,1,1,NaN,6,6
top,NaN,NaN,Male,Coat,Clothing,NaN,Rhode Island,M,Gray,Winter,NaN,Yes,Free Shipping,Yes,Yes,NaN,Venmo,Weekly
freq,NaN,NaN,20,3,12,NaN,3,9,3,8,NaN,20,6,20,20,NaN,5,7
mean,10.50000,47.100000,NaN,NaN,NaN,58.3500,NaN,NaN,NaN,NaN,3.730000,NaN,NaN,NaN,NaN,25.40000,NaN,NaN
std,5.91608,16.325311,NaN,NaN,NaN,22.7926,NaN,NaN,NaN,NaN,0.822128,NaN,NaN,NaN,NaN,15.12196,NaN,NaN
min,1.00000,19.000000,NaN,NaN,NaN,20.0000,NaN,NaN,NaN,NaN,2.600000,NaN,NaN,NaN,NaN,2.00000,NaN,NaN
25%,5.75000,29.250000,NaN,NaN,NaN,37.5000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,14.00000,NaN,NaN
50%,10.50000,52.500000,NaN,NaN,NaN,53.0000,NaN,NaN,NaN,NaN,3.400000,NaN,NaN,NaN,NaN,24.50000,NaN,NaN
75%,15.25000,61.500000,NaN,NaN,NaN,75.0000,NaN,NaN,NaN,NaN,4.625000,NaN,NaN,NaN,NaN,36.25000,NaN,NaN
max,20.00000,66.000000,NaN,NaN,NaN,97.0000,NaN,NaN,NaN,NaN,4.900000,NaN,NaN,NaN,NaN,49.00000,NaN,NaN

In [8]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount           0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [10]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [12]:
#create a new columns age_grp
labels=['Young Adult','Adult','Middle-aged','Senior']
df['age_group']=pd.qcut(df['age'],q=4,labels=labels)
#qcut=divide data into equal-frequency grp based on quantiles...........

In [13]:
df[['age','age_group']].head(10) #it is use to find age category

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50        Adult
3   21  Young Adult
4   45        Adult
5   46        Adult
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [14]:
#create columns purchase frequency_days
frequency_mapping = {
    'Fortnightly':14,
    'Weekly':7,
    'Monthly':30,
    'Quarterly':90,
    'Bi-Weekly':14,
    'Annually':365,
    'Every 3 Months':90
}
df['purchase_frequency_days']=df['frequency_of_purchases'].map(frequency_mapping)
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [15]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [18]:
(df['discount_applied']==df['promo_code_used']).all() #to cheack the data is same or not when data is same ans give to true

np.True_

In [19]:
df=df.drop('promo_code_used',axis=1)

In [20]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')